<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/style.css">
        <title>The Art Gallery</title>
    </head>
    <body>
        <header>
              <!-- <input type="checkbox" id="switch" class="switch" /><label for="switch" class="toggle">Toggle</label> -->
        </header>
        <main id="main">
              <focus v-if="selectedImageId" :id="selectedImageId" @close="handleCloseFocus"></focus>
           
              <h1>The Art Gallery</h1>
            <section>
            <form @submit.prevent.default="handleSubmit">
                
                <label for="title">Title</label>
                <input v-model="title" type="text" name="title" id="title" placeholder="Title">
                <label for="title">Username</label>
                <input v-model="username" type="text" name="username" id="username" placeholder="Username">
                <label for="title">Description</label>
                <input v-model="description" type="text" name="description" id="description" placeholder="Description">
                <input type="file" name="image" id="image" accept="image/*" @change="handleChange">
                <button>Submit</button>
            </form>
            </section>
          
         <ul class="user-list">
                <li v-for="image of images" key="image.id" @click="handleImageClick(image.id)">
                    <img v-bind:src="image.url" class="imageBoard" :alt="image.title">

                    {{image.title}}
              
                </li>
                </ul>
            <button @click="handleMoreImages"class="more">More</button>
        </main>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html> 