* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main#main {
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    align-self: center;
}

.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.pop-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
